<section>
<p><strong>Two AMC Gold movie tickets for 1-hour of your time.</strong></p>

<%= render 'form' %>
</section>
<section>
  <h4>Study Title</h4>
  <p>
    New User Interface for Online Language Exchange
  </p>
  <h4>Requirement</h4>
  <p>
    To participate in the study, you must be:
    <ul>
      <li>over 18 years old</li>
      <li>
        a native <a href="http://en.wikipedia.org/wiki/Standard_Chinese">Mandarin Chinese</a> 
        speaker
      </li>
      <li>able to input <a href="http://en.wikipedia.org/wiki/Simplified_Chinese_characters">
        simplified Chinese characters</a> on a computer using a Pingyin input method.
    </ul>
  </p>
  <h4>Location & Duration</h4>
  <p>
    Study takes place at <strong><a href="http://whereis.mit.edu/?go=32" target="_blank">Stata Center</a> 
    <a href="https://www.csail.mit.edu/mrbs/room-desc.php?room=10">32-G825</a></strong>, and lasts about 1 hour.
  </p>
  <h4>Description</h4>
  <p>
    This user study is conducted by the Multimodal Understanding Group at MIT CSAIL to 
    evaluate the effectiveness of a new user interface for online language exchange.  
  </p>
</section>
