<section>
<p style="color: green"><%= flash[:notice] %></p>
Thank you for signing up for my user study. This is your information. A confirmation email is also sent to your email box.

<p>
  <b>Name:</b>
  <%=h @signup.name %>
</p>

<p>
  <b>Email:</b>
  <%=h @signup.email %>
</p>

<p>
  <b>Time slot:</b>
  <%=h @signup.timeslot.name %>
</p>
</section>
