Thank you for signing up for my experiment. This is your information.

<p>
  <b>Name:</b>
  <%=h @signup.name %>
</p>

<p>
  <b>Email:</b>
  <%=h @signup.email %>
</p>

<p>
  <b>Timeslot:</b>
  <%=h @signup.timeslot.name %>
</p>
