body { 
	background-color: #88BBF2; 
	color: #182C45; 
	margin: 0;
	padding: 0;
}

#header {
	padding: 40px 0 30px 340px;
	font-size: 34px;
	font-weight: bold;
	color: #FFFFFF;
}

#main {
	background-color: #fff;
	padding: 2px 0 45px 340px;
	margin: auto;
	border-style: none;
	min-height: 600px;
}

#footer {
	padding: 30px 0 30px 0;
}

.uiButton  {
	background-color:	#45547F;
	background-position:0 -48px;
	border-style: solid;
	border-color:	#D9DFEA #182C45 #182C45 #D9DFEA;
	width: 60px;
	padding: 0;
	border-width: 1px;
	text-align: center;
}

.uiButton:active {
	border-color:	#182C45 #182C45 #182C45 #182C45;
	background-color:	#182C45;
}

.add_border {
	border-bottom: 1px solid #CCCCCC;
	max-width: 700px;
	padding: 10px;
}

.uiButton input {
	background:none repeat scroll 0 0 transparent;
	border:0 none;
	color:#FFF;
	cursor:pointer;
	display:inline-block;
	font-family:'Lucida Grande',Tahoma,Verdana,Arial,sans-serif;
	font-size:	13px;
	font-weight:bold;
	margin: 0;
	outline: medium none;
	padding:	2px 0px 2px 1px;
	white-space:nowrap;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   15px;
  line-height: 15px;
}

h4 {
	padding: 0;
}

.small_font {
	font-size: smaller;
}

input {
	margin: 15px 0 5px 0;
}

select {
	margin: 15px 0 5px 0;
	font-size: 13px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

