<!DOCTYPE html>

<html>
<head>
  <title>Two AMC Gold movie tickets for 1 hour</title>
  <%= stylesheet_link_tag 'scaffold' %>
	<%= javascript_include_tag :defaults %>
</head>
<body>
	<header>
	  <h1>User Study Signup</h1>
	</header>
  <article>
    <%= yield %>
  </article>
  <footer></footer>
</body>
</html>
