<!DOCTYPE html>

<html>
<head>
  <title>One AMC Gold movie ticket for 30 min</title>
  <%= stylesheet_link_tag 'scaffold' %>
	<%= javascript_include_tag :defaults %>
</head>
<body>
	<header>User Study Signup</header>
  <article>
    <%= yield %>
  </article>
</body>
</html>
